<strong>Olá, {{ student }}</strong>
<p>Seja bem-vindo para academia GymPoint. Sua matrícula foi 
  realizada com sucesso.
</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data/hora inicial: </strong> {{ date_initial }} <br />
  <strong>Data/hora final: </strong> {{ date_final }} <br />
  <strong>Valor: </strong> {{ value }} <br />
  <br />
  <small>
    Bora malhar!
  </small>
</p>
